span.chord {
	width: 0;
	display: inline-block;
	vertical-align: bottom;
	position: relative;
	user-select: none;
	height: calc(1em + 35px);
	min-height: calc(1em + 35px);
	font-size: 70%;
}
span.chord .inner {
	position: absolute;
	display: block;
	left: 0;
	padding-top: 8px;
}
span.chord i {
	font-style: normal;
	display: inline-block;
	vertical-align: bottom;
}
span.chord i.diagram {
	font: 100 9px Courier;
	line-height: 5px;
	opacity: .5;
	position: relative;
	display: none;
	transform:translate(4px,-100%);
}
span.chord i.diagram[dir="rtl"] { transform:translate(9px,-100%) }
span.chord .inner:hover i.diagram,
span.chord i.diagram.show { display: block }
